.principalContent{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: var( --color-primary );
}

.principalHome{
    margin-top: 50px;
    background-color: var( --color-primary );
}